@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using DonorManager.Models;
@using DonorManager2024.ViewModels;
@using Microsoft.AspNetCore.Identity
@using DonorManager2024.Data

@model List<UserApprovalViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Role Assigned:</h1>
</div><br /><br /><br />

